body {
    background-color: #502090;
    padding-top: 50px;
}

.form {
    font-size: 1.7rem;
    color: black;
}

.entry-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}