#back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}

form {
    margin: 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "selW selL"
    "rad1 rad2"
    "btn btn";
    background-color: black;
}

#winner {grid-area: selW;}
#loser {grid-area: selL;}

#leandre {grid-area: rad1;}
#lancelot {grid-area: rad2;}

#submitBtn {grid-area: btn;}

form select {
    min-width: 200px;
    height: 60px;
    margin: 50px;
    border: 5px solid #ee5555;
    border-radius: 4px;
    font-size: 1.4rem;
    color: #ee5555;
}

/*
form input {
    TODO
}
*/

form label {
    font-size: 1.2rem;
    color: #ee5555;
    /*TODO: à completer*/
}