body {
    margin: 0;
}

.error {
    background-color: #ee3535;
    border: 3px solid #ee0000;
    color: #ee0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formulaires */
.form {
    margin: 5vw;
    padding: 20px;
    background-color: black;
} 

.select {
    min-width: 160px;
    height: 60px;
    margin: 5px;
    border: 5px solid #ee5555;
    border-radius: 4px;
    font-size: 1rem;
    color: #ee5555;
}
/*
form input {
    TODO
}
*/
.label {
    font-size: 1.2rem;
    color: #ee5555;
    /* TODO: A completer*/
}

/* Boutons */
.btn {
    margin: 30px;
    padding: 15px;
    background-color: #502090;
    color: #ee5555;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #ee5555;
}

.back-btn {
    width: 50px;
    height: 50px;
}