body {
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "addGame addGame"
    "leaders players"
    "search search"
    "seeDeck addDeck";
    padding: 20px;
}

#addGameBtn {grid-area: addGame;}
#leaders-winrate-btn {grid-area: leaders;}
#players-winrate-btn {grid-area: players;}
#search-games-btn {grid-area: search;}
#see-decks-btn {grid-area: seeDeck;}
#add-deck-btn {grid-area: addDeck;}

.box {
    background-color: orange;
    border: 4px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: black;
}