body {
    background-color: #502090;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.6rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.request-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1.2rem;
    color: #ee5555;
}

.results-table th {font-size: 1.3rem;}
.results-table tr {font-size: 1rem;}

.results-table th, td {
    margin: 0;
    background-color: #ee5555;
    color: black;
    border: 5px solid black;
}