/*
/css/seeDeck.css
le style de la page seeDeck.php
*/

body {
    background-color: purple;
    color: orange;
    display: flex;
    flex-direction: column;
}

#card-list {
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: start;
}